/********** Base styles **********/
* {
 box-sizing: border-box;
}

h1 {
  margin-bottom: 15px;
  margin-top:25px;
  text-align: center;
}

.parentdiv1{
  position: relative; 
  font-family: Helvetica;
  color: black;
  padding:30px;

}

.div1{
  position: absolute; 
  right: 0px; 
  top: 0px; 
  width: 200px; 
  height: 30px;  
  border: 3px solid black;
  border-top-width: 0px;
  border-right-width: 0px;
  font-size: 24px; 
  text-align: center; 
}

#d1{
  background-color: pink;
}

#d2{
   background-color: orange; 
}

#d3{
   background-color: yellow; 
}

section{
    position: relative;
    padding: 20px;
    background-color: gray;  
    border: 3px solid black;
    height:50%;
    overflow:auto;
}

/********** Desktop only **********/

@media (min-width: 992px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {

   float:left;
   
  }
  
  .col-lg-4 {
    width: 33.33%;
  }
  
}
/********** Tablet only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
  
   float:left;
  }
  
  .col-md-6 {
    width: 50%;
  }
  .col-md-12 {
    width: 100%;
  }
  
}


/********** Mobile only **********/
@media (max-width: 767px) {
  .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
   
     float:left;
  }
  
  .col-xs-12 {
    width: 100%;

  }
}